.LandingPage {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #000;
    padding: 0;
    margin: 0;
  }
  
  .nav-bar {
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    position: relative;
  }
  
  .nav-bar button {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .nav-bar button:hover {
    text-decoration: underline;
  }
  
  .logo-container {
    margin: 2rem auto;
  }
  
  .logo {
    max-width: 200px;
    height: auto;
  }
  
  .illustration-container {
    margin: 2rem auto;
  }
  
  .illustration {
    max-width: 100%;
    height: auto;
  }
  
  .tagline-container {
    margin: 2rem auto;
  }
  
  .tagline {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.5;
  }
  
  .highlight {
    color: green;
  }
  
  /* Media Queries */
  @media (min-width: 768px) {
    .nav-bar {
      margin-right: 2rem;
      justify-content: flex-end;
    }
  
    .logo {
      max-width: 300px;
    }
  
    .tagline {
      font-size: 1.8rem;
    }
  }
  
  @media (min-width: 1024px) {
    .nav-bar {
      margin-right: 4rem;
    }
  
    .logo {
      max-width: 400px;
    }
  
    .tagline {
      font-size: 2rem;
    }
  
    .illustration {
      max-width: 800px;
    }
  }
  